{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/podcast/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
{% endblock %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_login') }}">PodcastApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarSupportedContent">
                <ul class="navbar-nav m-0">
                    <li class="nav-item">
                        <a href="{{ path('app_admin') }}" class="btn btn-success">Administration Zone</a>
                    </li>
                    
                    <li class="nav-item" style="margin-left: 5px">
                        <a class="btn btn-secondary" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-sm-12">
                
                    <a class="btn btn-secondary mb-2" href="{{ path('podcasts_admin', {id: user.id}) }}"> Back </a>
                    
                    {% if error %}
                        <div class="alert alert-danger mt-2 mb-2 alert-dismissible" role="alert">
                            An error has occurred, verify your data 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    
                    {% if success %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <div>Podcast update!</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
        
                {{ form(edit_form) }} 
                
            </div>
        </div>
    </div>

{% endblock %}
